.Content .new-game{
    text-align: center;
    font-size: 40px;
    height: 50px;
    width: 250px;
    border-radius: 5px;
}
.Content p{
    font-size: 25px;
    margin: 20px auto;
}
.newGameContainer{
    background: #4bc965;
    width: calc(30%);
    border-radius: 10px;
    padding: 0px 0px 8px 0px;
    margin: 0 auto;
    color: white;
}
.newGameContainer h3{
    margin: 0 auto;
    text-decoration: underline;
}
.form-check{
    display: inline;
    padding: 5px;
}
.form-check label{
    font-size: 25px;
}
.Instructions{
    background: #4bc965;
    width: calc(25%);
    border-radius: 10px;
    color: white;
    font-size: 25px;
    position: absolute;
    left: 5px;
    top: 205px;
    list-style-type: circle;
    margin-right: 5px;
}
.Instructions h3{
    margin-bottom: 5px;
    text-decoration: underline;
}
.print{
    margin: 5px auto;
    position: absolute;
    right: 45px;
    width: 300px;
    bottom: 0px;
}